	<!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
						
                        	<!--Footer Column-->
                            <div class="footer-column col-lg-4 col-md-4 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
										<a href="/"><img src="/images/footer-logo.png" alt="" /></a>
									</div>
									<ul class="list-style-one">
										<li><span class="icon fa fa-phone"></span> +2349035535074</li>
										<li><span class="icon fa fa-envelope"></span> mail@gictworld.com </li>
										<li><span class="icon fa fa-home"></span>Lagos & Portharcourt <br> Nigeria</li>
									</ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-4 col-md-4 col-sm-12">
                                <div class="footer-widget links-widget">
									<h4>Links</h4>
									<ul class="list-link">
										<li><a href="/">Home</a></li>
										<li><a class="nav-link scrollspy-btn" href="/#about_section">About us</a></li>
										<li><a class="nav-link scrollspy-btn" href="/#service_section">Services</a></li>
										<li><a class="nav-link scrollspy-btn" href="/#portfolio_section">Portfolio</a></li>
										<li><a class="nav-link scrollspy-btn" href="/#contact_section">Contact Us</a></li>
									</ul>
								</div>
							</div>
					
					<!--Column-->
                	
                            <div class="footer-column col-lg-4 col-md-4 col-sm-12">
                                <div class="footer-widget links-widget">
									<h4>Tags</h4>
									<ul class="list-link">
										<li><a href="/services/digital-currency">Buy Digital Currency</a></li>
										<li><a href="/services/cracked-apps">Cracked Premium Apps</a></li>
										<li><a href="/portfolio/projects">Projects/Portfolio</a></li>
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="#">Terms and Conditions</a></li>
									</ul>
								</div>
							</div>
					
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="inner-container">
					<div class="row clearfix">
						
						<!-- Copyright Column -->
						<div class="copyright-column col-lg-6 col-md-6 col-sm-12">
							<div class="copyright">2021 &copy; All rights reserved by <a href="/">Gict World</a></div>
						</div>
						
						<!-- Social Column -->

						
					</div>
				</div>
			</div>
		</div>
	</footer>
	
</div>
<!--End pagewrapper-->


<!-- whatsapp icon -->
<div class="whatsapp scroll-to-target" data-target="html" ><a href=" https://wa.me/+2398102940239"><img src="/images/WhatsApp-icon-PNG.png" alt=""></a></div>
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/mixitup.js"></script>
<script src="/js/script.js"></script>
<script src="/js/scrollspy.js"></script>

</body>
</html>