<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>GICT World | Services</title>
<!-- Stylesheets -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header / Header Style Two-->
    <header class="main-header header-style-two">
    	
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="clearfix">
                	
                	<div class="pull-left logo-box">
                    	<div class="logo"><a href="/"><img src="/images/IMG-20200304-WA0082-removebg (4).png" alt="" title=""></a></div>
                    </div>
                   	
                   	<div class="nav-outer clearfix">
                    
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<div class="navbar-header">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li><a href="/">Home</a>
									
									</li>
									<li><a class="nav-link scrollspy-btn" href="/#about_section">About Us</a>
										
									</li>
									<li class="dropdown"><a lass="nav-link scrollspy-btn" href="/#service_section">Services</a>
                                    <ul>
                                        <li><a href="/services/digital-currency">Buy Digital Currency</a></li>
                                        <li><a href="/services/cracked-apps">Cracked Premium Apps</a></li>
										<li> <a href="/services/training"> Digital Skills Training</a></li>
                                    </ul>
                                    
                                    </li>
									<li class="dropdown"><a lass="nav-link scrollspy-btn" href="/#portfolio_section">Portfolio</a>
									<ul>
										<li>
											<a href="/portfolio/projects">Projects</a>
										</li>
									</ul>
									</li>
									<li><a class="nav-link" href="/event">Events</a></li>
								
									<li><a class="nav-link scrollspy-btn" href="/#contact_section">Contact us</a></li>
								</ul>
							</div>
							
						</nav>
						
						<div class="outer-box">
							<!--Nav Toggler-->
							<div class="nav-toggler"><div class="nav-btn"><span class="flaticon-menu"></span></div></div>
						</div>
						
					</div>
                   
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
		<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="/" class="img-responsive"><img src="/images/IMG-20200304-WA0082-removebg (4).png" alt="" title=""></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                            <ul class="navigation clearfix">
                                <li><a href="/">Home</a>
								
								</li>
								<li><a class="nav-link scrollspy-btn" href="/#about_section">About Us</a>
								
								</li>
								<li class="current dropdown"><a lass="nav-link scrollspy-btn" href="/#service_section">Services</a>
                                    <ul>
                                        <li><a href="/services/digital-currency">Buy Digital Currency</a></li>
                                        <li><a href="/services/cracked-apps">Cracked Premium Apps</a></li>
										<li> <a href="/services/training"> Digital Skills Training</a></li>
                                    </ul>
                                
                                </li>
								<li class="dropdown"><a lass="nav-link scrollspy-btn" href="/#portfolio_section">Portfolio</a>
									<ul>
										<li>
											<a href="/portfolio/projects">Projects</a>
										</li>
									</ul>
								</li>
								<li><a class="nav-link" href="/event">Events</a></li>
								<li><a class="nav-link scrollspy-btn" href="/#contact_section">Contact us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
		
    </header>
    <!--End Main Header -->
	
