<!DOCTYPE html>
<html lang="en">
  
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>      
    <title>
        GICT | Events
    </title>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link href="http://fonts.googleapis.com/css?family=Hind:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" media="screen" href="/css/event.css" />
    <link rel="stylesheet" media="screen" href="/css/event-1.css" />
    <link rel="stylesheet" media="screen" href="">
    

    
<style type="text/css">
  #editor-overlay {
    display: none;
    border-color: #17da9b;
    position: absolute;
    background-color: rgba(46,145,252,0.05);
    border-style: dashed;
    border-width: 3px;
    border-radius: 3px;
    pointer-events: none;
    cursor: pointer;
    z-index: 10000000000;
  }
  .editor-overlay-button {
    color: white;
    background: #17da9b;
    border-radius: 2px;
    font-size: 13px;
    margin-left: -24px;
    margin-top: -12px;
    padding: 3px 10px;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:1.5px;

    left: 50%;
    top: 50%;
    position: absolute;
  }
</style>

  </head>
  <body>
    <div class="container container--main container--default">
      <div class="content-wrap">
        <div id="section-header" data-section-id="header"><!-- Header Variables -->

<!-- KJB Settings Variables -->
<style>
  .header {
    background: #fff;
  }
  
  .header .logo--text, .header--left .header-menu a {
    line-height: 40px;
  }
  .header .logo--image {
    height: 40px;
  }
  .header .logo img {
    max-height: 40px;
  }
  .announcement {
      background: #000000;
      color: #fff;
    }
  /*============================================================================
    #Header User Menu Styles
  ==============================================================================*/
  .header .user__dropdown {
    background: #44d9e6;
    top: 70px;
  }
  .header--center .user__dropdown {
    top: 50px;
  }
  
  /*============================================================================
    #Header Responsive Styles
  ==============================================================================*/
  @media (max-width: 767px) {
    .header .logo--text {
      line-height: 40px;
    }
    .header .logo--image {
      max-height: 40px;
    }
    .header .logo img {
      max-height: 40px;
    }
    .header .header-ham {
      top: 20px;
    }
  }
</style>

</div>
 <div data-content-for-index data-dynamic-sections="index"><div id="section-1605208702406" data-section-id="1605208702406"></div><div id="section-1494867300050" data-section-id="1494867300050"><!-- Section Variables -->

<!-- KJB Settings Variables -->




<style>
  
    .background-image--1494867300050 {
      background-image: url(/images/icons/eth.png);
    }
  
  .section--1494867300050 {
    /*============================================================================
      #Background Color Override
    ==============================================================================*/
    background: rgba(0, 0, 0, 0.94);
  }
  
</style>



  <div class="hero-background background-image background-image--1494867300050 ">

  <div class="section section--hero section--middle section--dark section--small section--1494867300050 " kjb-settings-id="sections_1494867300050_settings_overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="/"><img src="/images/IMG-20200304-WA0082-removebg (4).png" alt="" title=""></a>
       </div>
        
          <div class="col-md-12 btn__spacing btn__spacing--center">
            <h1 kjb-settings-id="sections_1494867300050_settings_title"></h1>
<div kjb-settings-id="sections_1494867300050_settings_text">
  <h6><strong><span style="color: #ffffff;">INVESTING IN BITCOIN IS ALL THE RAGE NOW BUT HOW EXACTLY DOES A BEGINNER GET STARTED?

</span></strong></h6>
<p>&nbsp;</p>
<h1>2 DAYS Training on the Ins and Out of Trading and Making Money in <span style="text-decoration: underline;">CYPTOCURRENCY</span>&nbsp;with Zero Capital <span style="color: #FF8442;">Even if you have Zero Knowledge about it</span></h1>
<p style="text-align: center;">&nbsp;</p>
</div>




<style>
  /*============================================================================
    #Individual CTA Style
  ==============================================================================*/
  .btn--solid.btn--1601824797071 {
    background: #FF8442 !important;
    border-color: #FF8442 !important;
    color: #ffffff !important;
  }
  .btn--solid.btn--1601824797071:hover {
    color: #ffffff !important;
  }
  .btn--outline.btn--1601824797071 {
    border-color: #FF8442 !important;
    color: #FF8442 !important;
  }
  .btn--outline.btn--1601824797071:hover {
    color: #FF8442 !important;
  }
</style>
<a href="https://paystack.com/pay/gict-world-clinic2" class="btn btn-cta btn--auto btn--solid btn--med btn--1601824797071">JOIN THE CLASS HERE!</a>



          </div>
        
      </div>
    </div>
  </div>
</div>


</div><div id="section-1601204528381" data-section-id="1601204528381">
<style>
  
    .background-image--1601204528381 {
      background-image: url(/images/gallery/footer-2.jpeg);
    }
  
  .section--1601204528381 {
    /*============================================================================
      #Background Color Override
    ==============================================================================*/
    background: rgba(0, 0, 0, 0.96);
  }

</style>


<div class="background-image background-image--1601204528381">
  <div class="section section--testimonial section--middle section--small section--dark section--1601204528381 " kjb-settings-id="sections_1601204528381_settings_background_color">
    <div class="container">
      <div class="testimonials">
        
          <!-- Block Variables -->






<!-- KJB Settings Variables -->





<div class="item testimonial">
  <p class="testimonial__text" >
    "The class was designed so professionally and in such an engaging manner that a person will definitely find it interesting and informative as well.

    Before joining this class I was very confused over trading in cryptocurrency but now I can trade confidently with lesser chances of loosing money.
    
    Thank you so much GICT for such a valuable class"</p>
  
     
  <h5 class="testimonial__name" kjb-settings-id="sections_1601204528381_blocks_1601204528381_0_settings_name">
    Boluwatife from Lagosa<br>
    <i class="testimonial__title" kjb-settings-id="sections_1601204528381_blocks_1601204528381_0_settings_title">Crypto Clinic 1.0 Participant</i>
  </h5>
</div>

        
      </div>
    </div>
    <div id="paginator">
      <div class="paginator-dots"></div>
    </div>
  </div>
</div>

</div><div id="section-1601207755196" data-section-id="1601207755196"><!-- Section Virables -->











<!-- Kjb Section Variabels -->


<style>
  
  .section--1601207755196 {
    /*============================================================================
      #Background Color Override
    ==============================================================================*/
    background: rgba(68, 217, 230, 0.12);
  }
</style>


<div class="background-image background-image--1601207755196">
  <div class="section section--testimonial section--middle section--small section--light section--1601207755196 " kjb-settings-id="sections_1601207755196_settings_background_color">
    <div class="container">
      <div class="testimonials">
        
          <!-- Block Variables -->






<!-- KJB Settings Variables -->





<div class="item testimonial">
  <p class="testimonial__text" kjb-settings-id="sections_1601207755196_blocks_1601207755196_0_settings_text">
    "The class was great, you guys dealt with the basics of cryptocurrency and a few good tips to start from zero, 
    you made an explanation of a complicated topic as easy to understand as if it was explained to a kid. 
    GICT gave me motivation to get started on cryptocurrency. 
    Very insightful class for beginners."
  <h5 class="testimonial__name" kjb-settings-id="sections_1601207755196_blocks_1601207755196_0_settings_name">
    Jumoke, from Ibadan<br>
    <i class="testimonial__title" kjb-settings-id="sections_1601207755196_blocks_1601207755196_0_settings_title"> Cypto Clinic 1.0 Participant</i>
  </h5>
</div>

        
</div>
</div>
<div id="paginator">
<div class="paginator-dots"></div>
</div>
</div>
</div>

</div><div id="section-1601207755196" data-section-id="1601207755196"><!-- Section Virables -->


  <style>
  
    .background-image--1601204528381 {
      background-image: url(/images/gallery/footer-2.jpeg);
    }
  
  .section--1601204528381 {
    /*============================================================================
      #Background Color Override
    ==============================================================================*/
    background: rgba(0, 0, 0, 0.96);
  }
  
 
</style>


<div class="background-image background-image--1601204528381">
  <div class="section section--testimonial section--middle section--small section--dark section--1601204528381 " kjb-settings-id="sections_1601204528381_settings_background_color">
    <div class="container">
      <div class="testimonials">
        
          <!-- Block Variables -->






<!-- KJB Settings Variables -->





<div class="item testimonial">
  <p class="testimonial__text" >
    "I found the class very amazing. As a beginner the class made me learn a lot of thing about cryptocurrency 
    from beginning and gave me a lot of confidence as I now have grounded knowledge about cryptocurrency. 
    The tutors were also very good in explaining each and every details with real time examples. 
    I liked the way the whole class was diversified and the hands on practical classes."</p>
  
     
  <h5 class="testimonial__name" kjb-settings-id="sections_1601204528381_blocks_1601204528381_0_settings_name">
    Peter from Aba<br>
    <i class="testimonial__title" kjb-settings-id="sections_1601204528381_blocks_1601204528381_0_settings_title">Crypto Clinic 1.0 Participant</i>
  </h5>
</div>

        
      </div>
    </div>
    <div id="paginator">
      <div class="paginator-dots"></div>
    </div>
  </div>
</div>

</div><div id="section-1601207755196" data-section-id="1601207755196"><!-- Section Virables -->








<style>
  
  .section--1601440534457 {
    /*============================================================================
      #Background Color Override
    ==============================================================================*/
    background: rgba(68, 217, 230, 0.15);
  }
  
 
</style>


<!-- Section Variables -->







<!-- KJB Settings Variables -->



<!-- Conditional Styles For Accent Bar -->


<div id="" class="section section--heading section--top section--xs-small section--light section--1601440534457" kjb-settings-id="sections_1601440534457_settings_background_color">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        
          <h2 class="section--heading__title section--heading__title--md" kjb-settings-id="sections_1601440534457_settings_heading">What You'll Be Learning:</h2>
        
        
      </div>
    </div>
  </div>
</div>

</div><div id="section-1611399321332" data-section-id="1611399321332"><!-- Section Virables -->











<!-- Kjb Section Variabels -->


<style>
  
  .section--1611399321332 {
    /*============================================================================
      #Background Color Override
    ==============================================================================*/
    background: rgba(68, 217, 230, 0.15);
  }
  

</style>


<!-- Section Variables -->



<!-- KJB Settings Variables -->


<div id="" class="section section--text section--middle section--xs-small section--light section--1611399321332" kjb-settings-id="sections_1611399321332_settings_background_color">
  <div class="container">
    
  <div class="row heading heading--empty">

  <div class="col-md-8">
    
    
  </div>
</div>

    <div class="row text-xs-center">
      <div class="col-md-10">
        <div kjb-settings-id="sections_1611399321332_settings_text" style="text-align: left">

<ul>
    <li>
        <h4>Introduction to Blockchain and Cryptocurrency</h4>
    </li>
    <li>
        <h4>Full Knowledge about Bitcoin, Altcoins and Shitcoins</h4>
    </li>
    <li>
        <h4>Benefits of Airdrops and Presale</h4>
    </li>
    <li>
        <h4>Introduction to Cypto Trading using platforms like; Binance, Kucoin, Hobit etc</h4>
    </li>
    <li>
        <h4> How to Make Money from Cryptocurrency </h4>
    </li>
    <li>
        <h4>And lots more....</h4>
    </li>
    </li>
</ul>          

</div>
<div class="col-md-10">
  <h5>Date:</h5>
  <p><strong>16th - 17th October, 2021 </strong></p>
</div>     
          












<style>
  /*============================================================================
    #Individual CTA Style
  ==============================================================================*/
  .btn--solid.btn--1611399673739 {
    background: #FF8442 !important;
    border-color: #FF8442 !important;
    color: #fff !important;
  }
  .btn--solid.btn--1611399673739:hover {
    color: #fff !important;
  }
  .btn--outline.btn--1611399673739 {
    border-color: #FF8442 !important;
    color: #FF8442 !important;
  }
  .btn--outline.btn--1611399673739:hover {
    color: #FF8442 !important;
  }
</style>
<a href="https://paystack.com/pay/gict-world-clinic2" class="btn btn-cta btn--auto btn--solid btn--med btn--1611399673739" data-num-seconds="" id="" kjb-settings-id="sections_1611399321332_blocks_1611399673739_settings_btn_action" target="">I'M INTERESTED!</a>

        
      </div>
    </div>
  </div>
</div>

</div><div id="section-1605209767063" data-section-id="1605209767063"><!-- Section Virables -->











<!-- Kjb Section Variabels -->


<style>
  
  .section--1605209767063 {
    /*============================================================================
      #Background Color Override
    ==============================================================================*/
    background: #17da9b;
  }
  
 
</style>








<div id="" class="section section--opt_in section--opt_in_bar section--top section--xs-small section--light section--1605209767063" kjb-settings-id="sections_1605209767063_settings_background_color">
  <div class="container">
    <div class="row text-xs-center">
      
        
        <div class="col-md-12 ">
          <div kjb-settings-id="sections_1605209767063_settings_text" style="text-align: left">
  <h3 style="text-align: center;">Are You Intrested In Joining the Class But You Don't have the Money?</h3>
<h6 style="text-align: center;"><span style="color: #000000;"><strong>Join GICT Referral Program!</strong></span></h6>
<h6 style="text-align: center;"><span style="color: #000000;"><strong><span style="color: #e74c3c;">Refer 5 People and Get Added in the class&nbsp;<span style="text-decoration: underline;">FREE</span></span></strong></span></h6>
</div>

<h3 class='text-center'>Frequently Asked Questions</h3>
<div class="accordion accordion-flush my-3" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         What is GICT Referral Program?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          This is a program that was initiated to help those that dont have enough money to join in the class but are good in marketting. It involves joining GICT in telling others about this training. if 5 persons joins in the training through you, you are automatically added into the training class <strong>FREE</strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What if I am Not Able to Refer Up To 5 People Before the Training Date?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          GICT Referral program is so flexible that if you have 1 active referral thats is 1000 naira off the initial payment you are expected to pay for the class
          This means that:
          <ul>
            <li>
              if you have 1 active referral before the class, you only have to pay 4000 naira to join the class
            </li>
            <li>
              if you have 2 active referrals before the class, you only have to pay 3000 naira to join the class
            </li>
            <li>
              if you have 3 active referrals before the class, you only have to pay 2000 naira to join the class
            </li>
            <li>
              if you have 4 active referrals before the class, you only have to pay 1000 naira to join the class
            </li>
            <li>
              if you have 5 active referrals before the class, you are added to the class <strong>FREE</strong>
            </li>
          </ul>
                  </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      What are &nbsp; <strong> Active </strong> &nbsp; Referrals
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         Active referalls are referrals that make complete payment for the class before the training day
        </div>
      </div>
    </div>
  </div>          
            


  
  
  
    
  </div>


          
        </div>
      
    </div>
  </div>
</div>

</div><div id="section-1605098497079" data-section-id="1605098497079"><!-- Section Virables -->











<!-- Kjb Section Variabels -->


<style>
  
  .section--1605098497079 {
    /*============================================================================
      #Background Color Override
    ==============================================================================*/
    background: rgba(68, 217, 230, 0.15);
  }
  
</style>



<div id="" class="section section--text_img section--middle section--xs-small section--light section--1605098497079" kjb-settings-id="sections_1605098497079_settings_background_color">
  <div class="container">
      <h3 class='text-center'>Join GICT Referral Program</h3>
    <form action="/event/referral" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Full Name</label>
          <input type="text" name="fName" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone Number</label>
          <input type="text" name="number" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="mb-3">
          <input type="checkbox" required>
          <label class="form-check-label" for="exampleCheck1">I agree to GICT Terms and Conditions</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> 
</div>
</div>




<!-- Kjb Section Variabels -->


<style>
  
  .section--1620590557000 {
    /*============================================================================
      #Background Color Override
    ==============================================================================*/
    background: #000000;
  }
  

</style>


<div id="" class="section section--feature section--top section--medium section--dark section--1620590557000" kjb-settings-id="sections_1620590557000_settings_background_color">
  <div class="container">
    
  <div class="row heading heading--empty">

  <div class="col-md-8">
    
    
  </div>
</div>

    <div class="row">
      
        
          <div class="col-md-4">
            <!-- Block Variables -->











<!-- KJB Settings Variables -->





<!-- Sets the Img Width If Setting Has Been Used -->


<div class="block--1620590557000_0" kjb-settings-id="sections_1620590557000_blocks_1620590557000_0_settings_feature" style="text-align: center">
  
    
    <h4 kjb-settings-id="sections_1620590557000_blocks_1620590557000_0_settings_heading">1000+ Community members</h4>
  
  <div kjb-settings-id="sections_1620590557000_blocks_1620590557000_0_settings_text">
    
  </div>
  
</div>

          </div>
        
      
        
          <div class="col-md-4">
            <!-- Block Variables -->











<!-- KJB Settings Variables -->





<!-- Sets the Img Width If Setting Has Been Used -->


<div class="block--1620590557000_1" kjb-settings-id="sections_1620590557000_blocks_1620590557000_1_settings_feature" style="text-align: center">
  
    
    <h4 kjb-settings-id="sections_1620590557000_blocks_1620590557000_1_settings_heading">50+ Participants Trained</h4>
  
  <div kjb-settings-id="sections_1620590557000_blocks_1620590557000_1_settings_text">
    
  </div>
  
</div>

          </div>
        
      
        
          <div class="col-md-4">
            <!-- Block Variables -->











<!-- KJB Settings Variables -->





<!-- Sets the Img Width If Setting Has Been Used -->


<div class="block--1620590557000_2" kjb-settings-id="sections_1620590557000_blocks_1620590557000_2_settings_feature" style="text-align: center">
  
    
    <h4 kjb-settings-id="sections_1620590557000_blocks_1620590557000_2_settings_heading">4 Tutors</h4>
  
  <div kjb-settings-id="sections_1620590557000_blocks_1620590557000_2_settings_text">
    
  </div>
  
</div>

          </div>
        
      
    </div>
  </div>
</div>

</div><div id="section-1601205008614" data-section-id="1601205008614"><!-- Section Virables -->








<style>
  .footer {
    background: #272d34;
  }
  
</style>

  <footer class="footer footer--dark footer--center" kjb-settings-id="sections_footer_settings_background_color">
    <div class="container">
      <div class="footer__text-container">
        
        
          <span kjb-settings-id="sections_footer_settings_copyright" class="footer__copyright">&copy; 2021 <a href="/">GICT World</a></span>
        
        
      </div>
      <!-- Section Variables -->

























<!-- KJB Settings Variables -->

















<style>
  .footer .social-icons__icon,
  .footer .social-icons__icon:hover {
    color: #ffffff;
  }
  .footer .social-icons--round .social-icons__icon ,
  .footer .social-icons--square .social-icons__icon {
    background-color: #17da9b;
  }
</style>



    </div>
  </footer>


</div>
      </div>
    </div>
    
      <div id="section-pop_exit" data-section-id="pop_exit">

  



  


</div>
    
    <div id="section-pop_two_step" data-section-id="pop_two_step">






  


<style>
  #two-step {
    display: none;
    /*============================================================================
      #Background Color Override
    ==============================================================================*/
    
      /*============================================================================
        #Text Color Override
      ==============================================================================*/
   
    
  }
</style>

<div id="two-step" class="pop pop--light">
  <div class="pop__content">
    <div class="pop__inner">
      <div class="pop__body" style="background: #fff;">
        <a class="pop__close">
          Close
        </a>
        
        <div class="pop__body--inner">
          
            <div class="block--1492725498873">
              
                  




<style>
  .block--1492725498873 .progress-wrapper .progress-bar {
    width: 50%;
    background-color: #17da9b;
  }
  .block--1492725498873 .progress-wrapper .progress {
    background-color: #f9f9f9;
  }
</style>

<div class="progress-wrapper" kjb-settings-id="sections_pop_two_step_blocks_1492725498873_settings_show_progress">
  <p class="progress-percent" kjb-settings-id="sections_pop_two_step_blocks_1492725498873_settings_progress_text">50% Complete</p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped" kjb-settings-id="sections_pop_two_step_blocks_1492725498873_settings_progress_percent"></div>
  </div>
</div>

                
            </div>
          
            <div class="block--1492725503624">
              
                  <div kjb-settings-id="sections_pop_two_step_blocks_1492725503624_settings_text">
  <h3>Almost There...</h3>
<p><strong>Immediately after signing up, you'll receive Lesson 1.</strong>&nbsp;</p>
<h6><strong><span style="color: #e74c3c;">Note: This program is only designed for those interested in applying for Master's, and <span style="text-decoration: underline;">NOT PhD!</span></span></strong></h6>
</div>

              
            </div>
          
          
  <form data-parsley-validate="true" data-kjb-disable-on-submit="true" action="https://learn.scholars.africa/forms/511996/form_submissions" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="xbpE4IpW3VHmdEE8wMHZVW8lbK/NjIng34ZXxll0+44ytEzeRtnncA4MUgH/ujAXwZXgHKMq2Ff3RsqZOl0ePg==" /><input type="text" name="website_url" autofill="off" placeholder="Skip this field" style="display: none;" /><input type="hidden" name="kjb_fk_checksum" autofill="off" value="14602b27bf9a1e0862f621c1c210e80a" />
    
    
    
    
    
    
    
    

    <style>
      /*============================================================================
        #Individual CTA Style
      ==============================================================================*/
      .btn--sections_pop_two_step_settings_btn_text.btn--solid {
        background: #FF8442;
        border-color: #FF8442;
        color: #fff;
      }
      .btn--sections_pop_two_step_settings_btn_text.btn--outline {
        border-color: #FF8442;
        color: #FF8442;
      }
    </style>
    <div class="pop__form" kjb-settings-id="sections_pop_two_step_settings_form">
      <input type="hidden" name="thank_you_url" value="/resource_redirect/landing_pages/1501799">
      <div class="row optin optin--stacked">
        
          <div class="col-sm-12">
            <div class="email-field form-group"><input required="required" class="form-control" placeholder="Your Email Address" data-parsley-remote="true" data-parsley-remote-validator="kjb_email_validator" type="email" name="form_submission[email]" id="form_submission_email" /></div>
          </div>
        
          <div class="col-sm-12">
            <div class="text-field form-group"><input type="text" name="form_submission[name]" id="form_submission_name" value="" required="required" class="form-control" placeholder="Your Firstname" /></div>
          </div>
        
          <div class="col-sm-12">
            <div class="select-box-field form-group"><select name="form_submission[custom_12]" id="form_submission_custom_12" required="required" class="form-control" placeholder="Your highest academic level (HND/PGD alone are not sufficient to apply)"><option value="">Your highest academic level (HND/PGD alone are not sufficient to apply)</option><option value="Bachelor&#39;s degree">Bachelor&#39;s degree</option>
<option value="Master&#39;s degree">Master&#39;s degree</option></select></div>
          </div>
        
          <div class="col-sm-12">
            <div class="select-box-field form-group"><select name="form_submission[custom_14]" id="form_submission_custom_14" required="required" class="form-control" placeholder="What year did you graduate from university? (This program is not designed for corpers &amp; undergraduates!)"><option value="">What year did you graduate from university? (This program is not designed for corpers &amp; undergraduates!)</option><option value="2019">2019</option>
<option value="2018">2018</option>
<option value="2017">2017</option>
<option value="2016">2016</option>
<option value="2015">2015</option>
<option value="2014">2014</option>
<option value="2013">2013</option>
<option value="2012">2012</option>
<option value="2011">2011</option>
<option value="2010">2010</option>
<option value="2009">2009</option>
<option value="2008">2008</option>
<option value="2007">2007</option>
<option value="2006">2006</option>
<option value="2005">2005</option>
<option value="2004">2004</option>
<option value="2003">2003</option>
<option value="2002">2002</option>
<option value="2001">2001</option>
<option value="2000">2000</option>
<option value="1999">1999</option>
<option value="1998">1998</option>
<option value="1997">1997</option>
<option value="1996">1996</option>
<option value="1995">1995</option>
<option value="1994">1994</option>
<option value="1993">1993</option>
<option value="1992">1992</option></select></div>
          </div>
        
          <div class="col-sm-12">
            <div class="select-box-field form-group"><select name="form_submission[custom_13]" id="form_submission_custom_13" required="required" class="form-control" placeholder="Work experience after university (This program is not designed for corpers &amp; undergraduates!)"><option value="">Work experience after university (This program is not designed for corpers &amp; undergraduates!)</option><option value="1 - 2 years">1 - 2 years</option>
<option value="2 years and above">2 years and above</option></select></div>
          </div>
        
          <div class="col-sm-12">
            <div class="select-box-field form-group"><select name="form_submission[custom_10]" id="form_submission_custom_10" required="required" class="form-control" placeholder="Current occupation (This program is not designed for corpers &amp; undergraduates!)"><option value="">Current occupation (This program is not designed for corpers &amp; undergraduates!)</option><option value="Employed">Employed</option>
<option value="Running a business">Running a business</option></select></div>
          </div>
        
        <div class="col-sm-12">
          <button class="btn btn--sections_pop_two_step_settings_btn_text btn--block btn--solid btn-form" id="form-button" type="submit" kjb-settings-id="sections_pop_two_step_settings_btn_text">SEND ME LESSON 1! </button>
        </div>
      </div>
    </div>
  </form>


        </div>
      </div>
    </div>
  </div>
</div>

</div>

    <!-- Javascripts ================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>

<!-- Mirrored from learn.scholars.africa/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Oct 2021 17:00:30 GMT -->
</html>