<%- include('partials/header') %>

<!-- Banner Section Two -->
    <section class="banner-section-three clearfix">
		<div class="image-layer" style="background-image:url(images/background/1.png)">
		</div>
		<div class="image-layer-two" style="background-image:url(images/background/layer-2.jpg)"></div>
		<div class="auto-container">
			<div class="clearfix">
				<div class="content">
					<div style="color: black;" class="title">GICT WORLD</div>
					<h1>We are here to <br> solve your <span>Digital <span style="color: black;">Problems</span></span></h1>
					<div class="btn-box">
						<a href="contact.html" class="theme-btn btn-style-five">Get Started Now</a>
						<a href="portfolio-single.html" class="theme-btn btn-style-six">Join Our Community</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Section Two -->
<!-- Business Section -->
<section class="business-section">
	<div class="auto-container">
		<div class="row clearfix">
			
			<!-- Content Column -->
			<div class="blocks-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					
					<div class="row clearfix">
						<div class="column col-lg-6 col-md-6 col-sm-12">
							
							<!-- Services Block Seven -->
							<div class="services-block-seven margin-top">
								<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="icon-box">
										<span class="icon  flaticon-diamond-1 "></span>
									</div>
									<h5><a href="#">Buy/Sell Crypto</a></h5>
									<div class="text">We buy and sell popular digital currencies using the best rates</div>
									<!-- Overlay Box -->
									<div class="overlay-box">
										<div class="overlay-inner">
											<div class="content">
												<h6><a href="#">Buy/Sell Crypto</a></h6>
												<div class="text">Stay on top of the markets with us</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Services Block Seven -->
							<div class="services-block-seven">
								<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="icon-box">
										<span class="icon flaticon-report "></span>
									</div>
									<h5><a href="#">Web Design & Dev.</a></h5>
									<div class="text">We excel in building great websites and web applications</div>
									<!-- Overlay Box -->
									<div class="overlay-box">
										<div class="overlay-inner">
											<div class="content">
												<h6><a href="#">Website Design & Dev.</a></h6>
												<div class="text">Incredible responsive user experiences for optimizing business profits is our forte</div>
											</div>
										</div>
									</div>
								</div>
							</div>	
							
						</div>
						
						<div class="column col-lg-6 col-md-6 col-sm-12">
							
							<!-- Services Block Seven -->
							<div class="services-block-seven">
								<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="icon-box">
										<span class="icon flaticon-help"></span>
									</div>
									<h5><a href="#">Cracked Premium Apps</a></h5>
									<div class="text">We show you how to get and use premium apps free</div>
									<!-- Overlay Box -->
									<div class="overlay-box">
										<div class="overlay-inner">
											<div class="content">
												<h6><a href="#">Cracked Premium Apps</a></h6>
												<div class="text">Get aceess to paid windows and andriod apps for free</div>
											</div>
										</div>
									</div>
								</div>
							</div>	
							
							<!-- Services Block Seven -->
							<div class="services-block-seven">
								<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="icon-box">
										<span class="icon flaticon-shield"></span>
									</div>
									<h5><a href="#">Air Drops</a></h5>
									<div class="text">We give updates on the latest crypto airdrops in our commuinity</div>
									<!-- Overlay Box -->
									<div class="overlay-box">
										<div class="overlay-inner">
											<div class="content">
												<h6><a href="#">Air Drops</a></h6>
												<div class="text">Join our whatsapp commuinity to get up to date crypto airdrops</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			
			<!-- Content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<h3>We give the best solutions for your digital <span>Problems</span></h3>
					<!-- Blocks Outer -->
					<div class="blocks-outer">
						
						<!-- Services Block Six -->
						<div class="services-block-six">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-paper"></span>
								</div>
								<div class="text">We are a team of professional website designers & developers, software developers, crypto traders, cyber security experts and IT experts all working together to solve your IT problems.</div>
							</div>
						</div>
						
						<!-- Services Block Six -->
						<div class="services-block-six">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-diamond-1"></span>
								</div>
								<div class="text">We offer good rates and fast service delivery when you buy cryptocurrency from us</div>
							</div>
						</div>
						
						<!-- Services Block Six -->
						<div class="services-block-six">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-start"></span>
								</div>
								<div class="text">We design and develop a good website or web app for your business or business idea at affordable rates</div>
							</div>
						</div>
								
						<!-- Services Block Six -->
						<div class="services-block-six">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-shield"></span>
								</div>
								<div class="text">We cyber secure your business and gadgets from malicious attacks</div>
							</div>
						</div>

						
					</div>
					
					<a href="#" class="theme-btn btn-style-five">Consult Us Now</a>
					
				</div>
			</div>
			
		</div>
	</div>
</section>
	<!-- Fluid Section Two -->
    <section class="fluid-section-two">
    	<div class="outer-container clearfix">
        	
				<!--Image Column-->
				<div class="image-column" style="background-image:url(images/resource/image-4.png);">
					<figure class="image-box"><img src="images/resource/image-4.png" alt=""></figure>
				</div>
	
            <!--Content Column-->
            <div class="content-column">
            	<div class="inner-column">
					<div class="sec-title green">
						<h2>we are happy to assist <br> you all time <span>moment</span></h2>
					</div>
					<div class="bold-text">At GICT world we are always ready and available to assist you. Our goal is to help you grow your business and finances.</div>
					<div class="text">Our Services includes:</div>
					
					<!--Skills-->
					<div class="skills green">
						
						<!--Skill Item-->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">Buying and Selling Crypto and Shit Coins</div>
								<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="90">0</span>%</div></div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner"><div class="bar progress-line" data-width="90"></div></div>
							</div>
						</div>
						
						<!--Skill Item-->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">Web Design and Development</div>
								<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="98">0</span>%</div></div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner"><div class="bar progress-line" data-width="98"></div></div>
							</div>
						</div>
						
						<!--Skill Item-->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">Graphic Design</div>
								<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="90">0</span>%</div></div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner"><div class="bar progress-line" data-width="90"></div></div>
							</div>
						</div>
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">Updates on Crypto Airdrops</div>
								<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="80">0</span>%</div></div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner"><div class="bar progress-line" data-width="80"></div></div>
							</div>
						</div>
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">Cyber Security</div>
								<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="80">0</span>%</div></div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner"><div class="bar progress-line" data-width="80"></div></div>
							</div>
						</div>
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">IT Consultation</div>
								<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="90">0</span>%</div></div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner"><div class="bar progress-line" data-width="90"></div></div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		
		</div>
	</section>
	<!-- End Fluid Section Two -->
	
	<!-- Consulting Section -->
	<section class="consulting-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="images/resource/consulting.png" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<h3>We have worked with a lot of Businesses and <span>Brands</span></h3>
						<div class="text">
							<p>we've had the priviledge of working with some amazing brands that cuts across various industries.</p>
							<p>Our vast experience helps us identify and provide solutions to businesses seeking to take advantage of online opportunities to grow their business and finances.</p>
							<p>We offer various IT services ranging from installations to maintenance of computer systems and CCTV to offices, school, churches and homes </p> 
						</div>
						<a href="about.html" class="theme-btn btn-style-five">Contact Us Now</a>
					</div>
				</div>	
				
			</div>
		</div>
	</section>
	<!-- End Consulting Section -->

	<!-- Testimonial Section Three -->
	<section class="testimonial-section-three">
		<div class="auto-container">
			<div class="testimonial-carousel-two owl-carousel owl-theme">
				
				<!-- Testimonial Block Three -->
				<div class="testimonial-block-three">
					<div class="inner-box">
						<div class="upper-box">
							<div class="upper-inner">
								<div class="image"><img src="images/resource/testimonial-1.jpg" alt="" /></div>
								<h5>Biodun Adedeji</h5>
								<div class="designation">Rydox Stores</div>
							</div>
							<div class="text">I needed an ecommerce website for my business, and I contacted GICT world for one.
								Their delivery speed shocked me, they deliverd a good responsive site. I have generated alot of traffic through it. I will recommend GICT World any time any day </div>
						</div>
						<div class="quote flaticon-right-quote-sign"></div>
					</div>
				</div>
				
				<!-- Testimonial Block Three -->
				<div class="testimonial-block-three">
					<div class="inner-box">
						<div class="upper-box">
							<div class="upper-inner">
								<div class="image"><img src="images/resource/testimonial-2.jpg" alt="" /></div>
								<h5>Abiodun Oni</h5>
								<div class="designation">Cypto Trader</div>
							</div>
							<div class="text">Gict world introduced me to the world of crypto, and I have made millions from airdrop updates gotten from the organization. 
								This has changed my life and I will forever be grateful</div>
						</div>
						<div class="quote flaticon-right-quote-sign"></div>
					</div>
				</div>
				
				<!-- Testimonial Block Three -->
				<div class="testimonial-block-three">
					<div class="inner-box">
						<div class="upper-box">
							<div class="upper-inner">
								<div class="image"><img src="images/resource/testimonial-3.jpg" alt="" /></div>
								<h5>Okpara Mary </h5>
								<div class="designation">Copywriter</div>
							</div>
							<div class="text">My Facebook account was hacked, GICT helped me recover it easily. This is important to me because I run online businesses and Facebook generates lots of traction to me. </div>
						</div>
						<div class="quote flaticon-right-quote-sign"></div>
					</div>
				</div>
				
				<!-- Testimonial Block Three -->
				<div class="testimonial-block-three">
					<div class="inner-box">
						<div class="upper-box">
							<div class="upper-inner">
								<div class="image"><img src="images/resource/testimonial-4.jpg" alt="" /></div>
								<h5>A'isha Abass</h5>
								<div class="designation">Student</div>
							</div>
							<div class="text">There was a time I had an issue with my laptop, and my project deadline is quite close. Gict world provided explanatory solutions to help me fix the laptop and make me submit my project before the deadline </div>
						</div>
						<div class="quote flaticon-right-quote-sign"></div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Section Three -->
	
	<!-- Team Section -->
	<section class="team-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Our expert team</div>
				<h2>Meet our Expert <span>Team</span></h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="images/resource/team-1.jpg" alt="" />
						</div>
						<h5>Azeez Ogundero</h5>
						<div class="designation">Former Developer</div>
						<ul class="social-nav">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
							<li><a href="#" class="fa fa-behance"></a></li>
						</ul>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="images/resource/team-2.jpg" alt="" />
						</div>
						<h5>Alina Jia</h5>
						<div class="designation">Crypto Trader/Lord</div>
						<ul class="social-nav">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
							<li><a href="#" class="fa fa-behance"></a></li>
						</ul>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="images/resource/team-4.jpg" alt="" />
						</div>
						<h5>Oluwaferrumi</h5>
						<div class="designation">Designer</div>
						<ul class="social-nav">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
							<li><a href="#" class="fa fa-behance"></a></li>
						</ul>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="images/resource/team-3.jpg" alt="" />
						</div>
						<h5>Progress Eze</h5>
						<div class="designation">Web Developer</div>
						<ul class="social-nav">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
							<li><a href="#" class="fa fa-behance"></a></li>
						</ul>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Team Section -->
	
	
	<!-- Contact Form Box -->
	<section class="contact-form-section">
		<div class="auto-container">
			<div class="inner-container">
				<div class="icons-one"></div>
				<div class="icons-two"></div>
				<h3 style="color: black;">Have any job for our company? <br> Just connect with us.</h3>
				
				<!-- Default Form -->
				<div class="default-form">
					<form method="post" action="/contact">
						<div class="row clearfix">
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="text" name="name" placeholder="Your name *" required>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="email" name="email" placeholder="Your email *" required>
							</div>
							
							<div class="col-lg-12 col-md-12 col-sm-12 form-group">
								<input type="text" name="subject" placeholder="Subject *" required>
							</div>
							
							<div class="col-lg-12 col-md-12 col-sm-12 form-group">
								<textarea name="message" placeholder="Message *"></textarea>
							</div>
						
							<div class="col-lg-12 col-md-12 col-sm-12 form-group text-center">
								<button class="theme-btn btn-style-one" type="submit" name="submit-form">Contact Us</button>
							</div>
							
						</div>
					</form>
						
				</div>
				<!--End Default Form -->
				<div class="side-image wow rubberBand" data-wow-delay="0ms" data-wow-duration="1500ms">
					<img src="images/resource/form-icon.png" alt="" />
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact Form Box -->
	
<%-include('partials/footer') %>