<%- include('partials/header') %>
	<!-- Error Section -->
	<section class="error-section">
		<div class="auto-container">
			<div class="inner-section">
				<h1>Error <span>404</span></h1>
				<h3>Sorry, Page Not Found</h3>
				<a href="/" class="theme-btn btn-style-one">Go back home</a>
				<div class="copyright">2018 &copy; All rights reserved by <a href="#">Gict World</a></div>
			</div>
		</div>
	</section>
	
</div>
<!--End pagewrapper-->
<!-- whatsapp icon -->
<div class="whatsapp scroll-to-target" data-target="html" ><a href=" https://wa.me/+2398102940239"><img src="/images/WhatsApp-icon-PNG.png" alt=""></a></div>
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/script.js"></script>

</body>
</html>