<%- include('partials/header-two') %>

<!-- Portfolio Section Two-->
<!--Page Title-->
<section class="page-title" style="background-image:url(/images/background/7.png)">
    <div class="auto-container">
        <div class="content">
            <h1>Our Projects</h1>
            <ul class="page-breadcrumb">
                <li><a href="/">Home</a></li>
                <li style="color: white;">portfolio</li>
                <li>projects</li>
            </ul>
        </div>
    </div>
</section>
<!-- Portfolio Section Two-->
<section class="portfolio-section-two">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Portfolio</div>
            <h2>Our <span>Projects</span></h2>
        </div>
        
        <!--MixitUp Galery-->
        <div class="mixitup-gallery">            
            <div class="filter-list row clearfix">
                
                <!-- Project Block -->
                <div class="project-block mix finance col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/Capture6.png" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/Capture6.png" data-fancybox="gallery-1" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="portfolio-single.html">Academia</a></h5>
                            <div class="designation">School Management System Software</div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Block -->
                <div class="project-block mix consulting others business col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/Capture7.png" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/Capture7.png" data-fancybox="gallery-1" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="portfolio-single.html">Registration Portal</a></h5>
                            <div class="designation">Vehicle and Keke Registration Portal</div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Block -->
                <div class="project-block mix business insurance col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/Capture8.png" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/Capture8.png" data-fancybox="gallery-1" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="portfolio-single.html">Rydox Stores</a></h5>
                            <div class="designation">Ecommerce Web Application</div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Block -->
                <div class="project-block mix finance consulting col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/Capture9.png" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/Capture9.png" data-fancybox="gallery-1" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="portfolio-single.html">Cypto Clinic 1.0</a></h5>
                            <div class="designation">Premium Cryptocurrency Training</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!--Sponsors Section-->
<section class="sponsors-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="title">Sponsors</div>
            <h2>Brands we have<span>Worked</span> with</h2>
        </div>
        
        <div class="carousel-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li><div class="image-box"><a href="#"><img src="/images/clients/8.jpg" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="/images/clients/1.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="/images/clients/2.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="/images/clients/3.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="/images/clients/5.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="/images/clients/1.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="/images/clients/8.jpg" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="/images/clients/1.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="/images/clients/2.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="/images/clients/3.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="/images/clients/5.png" alt=""></a></div></li>
            </ul>
        </div>
        
    </div>
</section>
<!--End Sponsors Section-->

<!-- Call To Action Section -->
<section class="call-to-action-section contact_section contact-form-section">
    <div class="auto-container">
			<div class="inner-container">	
                <div class="sec-title centered">
           
                    <h2>Are you interested <br> to hire our <span>team ?</span></h2>
                    <h4 class="title">Just connect with us.</h4>
                </div>	
				<!-- Default Form -->
				<div class="default-form">
					<form method="post" action="/contact">
						<div class="row clearfix">
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="text" name="name" placeholder="Your name *" required>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="email" name="email" placeholder="Your email *" required>
							</div>
							
							<div class="col-lg-12 col-md-12 col-sm-12 form-group">
								<select name="services" id="" placeholder="Service *" required>
                                    <option value="">Please Select a Service *</option>
                                    <option value="web design/web development">Web Design and Development</option>
                                    <option value="buy Crypto">Buy Cryptocurrency</option>
                                    <option value="crypto traning">Crypto Training</option>
                                    <option value="graphic design">Graphic Design</option>
                                    <option value="cyber security">Cyber Security</option>
                                    <option value="IT consultation">IT Consultation</option>
                                </select>
							</div>
							
							<div class="col-lg-12 col-md-12 col-sm-12 form-group">
								<textarea name="message" placeholder="Message *"></textarea>
							</div>
						
							<div class="col-lg-12 col-md-12 col-sm-12 form-group text-center">
								<button class="theme-btn btn-style-one" type="submit" name="submit-form">Contact Us</button>
							</div>
							
						</div>
					</form>
						
				</div>
				<!--End Default Form -->
				<div class="side-image wow rubberBand" data-wow-delay="0ms" data-wow-duration="1500ms">
					<img src="images/resource/form-icon.png" alt="" />
				</div>
			</div>
		</div>
	<!-- End Contact Form Box -->
	
</section>
<!-- End Call To Action Section -->

<%-include('partials/footer') %>

