<%- include('../partials/header-two') %>

<!-- Portfolio Section Two-->
<!--Page Title-->
<section class="page-title" style="background-image:url(/images/background/7.png)">
    <div class="auto-container">
        <div class="content">
            <h1>Cracked Premium Apps</h1>
            <ul class="page-breadcrumb">
                <li><a href="/">Home</a></li>
                <li style="color: white;">services</li>
                <li>cracked premium apps</li>
            </ul>
        </div>
    </div>
</section>
<!-- Portfolio Section Two-->
<section class="portfolio-section-two">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Cracked Premium Apps</div>
   
        </div>
        
        <!--MixitUp Galery-->
        <div class="mixitup-gallery">
            
          
            
            <div class="filter-list row clearfix">
                
                <!-- Project Block -->
                <div class="project-block mix finance col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/1.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/1.jpg" data-fancybox="gallery-3" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="https://www.ytricks.net/netflix-mod-apkk-q/">Netflix App</a></h5>
                            <div class="designation">V.10.2.4 Premium</div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Block -->
                <div class="project-block mix consulting others business col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/2.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/2.jpg" data-fancybox="gallery-3" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="https://www.ytricks.net/truecaller-premium-apk/">Truecaller</a></h5>
                            <div class="designation">V. 11.80.6</div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Block -->
                <div class="project-block mix business insurance col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/3.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/3.jpg" data-fancybox="gallery-3" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="https://www.ytricks.net/camscanner-premium-apk-download/">CamScanner</a></h5>
                            <div class="designation">V. 16.1.6</div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Block -->
                <div class="project-block mix finance consulting col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/4.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/4.jpg" data-fancybox="gallery-3" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="https://www.ytricks.net/picsart-mod-apk/">PicsArt</a></h5>
                            <div class="designation">V. 18.2.0</div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Block -->
                <div class="project-block mix finance insurance col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/5.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/5.jpg" data-fancybox="gallery-3" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="https://www.ytricks.net/inshot-apk/">Inshot</a></h5>
                            <div class="designation">v1.750.1330</div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Block -->
                <div class="project-block mix others insurance business col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/6.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/6.jpg" data-fancybox="gallery-3" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="https://www.ytricks.net/adobe-spark-post-mod-apk/">Adobe Spark</a></h5>
                            <div class="designation">v6.10.0</div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Block -->
                <div class="project-block mix finance consulting col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/7.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/7.jpg" data-fancybox="gallery-3" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="https://www.ytricks.net/vpnhub-premium-apk-download/">VPNhub</a></h5>
                            <div class="designation">v3.14.8</div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Block -->
                <div class="project-block mix finance insurance col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow zoomInDown animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="/images/gallery/8.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="/images/gallery/8.jpg" data-fancybox="gallery-3" data-caption="" class="plus flaticon-plus-symbol"></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h5><a href="https://www.ytricks.net/picku-mod-apk/">PickU: Background Eraser, Cutout Background Editor</a></h5>
                            <div class="designation">v3.3.2</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>


<%- include('../partials/footer') %>